	/* A fixed background image is added below */
html {  
    background: url('https://c1.staticflickr.com/5/4247/34911566612_516b5a9aaa_k.jpg') no-repeat top center fixed;
    background-size: cover;
    margin-top: -24px;
    height: 100%;
    overflow: hidden;
}

h2 {
  font: 400 75px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: rgb(245,245,220);
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  text-align: right;
}

body {  
    height: 100%;
    width: 100%;
    overflow: hidden; //scroll
    -webkit-overflow-scrolling: touch;

}

	
	/* Navigation bar characteristics are defined below */
	.container {
	    margin: 0 auto;
	    text-align: center;
	    }
	    
	#menuBar {
		background-color: rgba(128,128,128,0.85);
		top: 0;
		width: 480px;
		height: 48px;
		display: block;
	}
	
	#menuBar li {
		list-style-type: none;
		display: inline-block;
	}
	
	#menuBar li a {
		list-style: none;
		display: inline-block;
	}

	li a, .dropbtn {
		color: rgb(245,245,220);
		padding: 14px 16px;
		text-decoration: none;
	}
	
	/* Change the link color to #111 (black) on hover */
	li a:hover, .dropdown:hover .dropbtn {
		background-color: #111;
	}

	.dropdown {
	    position: relative;
		display: inline-block;
	}

	.dropdown-content {
	    position: absolute;
		display: none;
		top: 100%;
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	
    ul {
        padding: 0;
        }

	.dropdown-content a {
	    list-style: none;
	    position: relative;
		color: black;
		text-decoration: none;
		background-color: #f1f1f1;
		display: inline-block;
	}
     
	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	
	/* This enables the current active menu option to be highlighted */
	.active {
		background-color: #C0C0C0;
	}
	
	
	#content {
		margin: 90px auto 0 0;
		background: rgba(204, 204, 204, .33);
		width: 800px;
	}

#frontpagecontent {
    margin: 90px auto 0 0;
    width: 800px;
    }
/* New Section for photo gallery */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33332%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
